<!DOCTYPE html>
<html>
<head>
	<title>Đơn hàng</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
	<div class="row">
		<div class="col-md-3">
			  <ul class="nav nav-pills nav-stacked">
			    <li ><a href="#"><span class="glyphicon glyphicon-user"></span> Quản lý</a></li> 
			    <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Danh sách sản phẩm</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-tag"></span> Thêm sản phẩm</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-tags"></span> Sửa thông tin sản phẩm</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart
glyphicon glyphicon-"></span> Đơn hàng</a></li>
			  </ul>
		</div>
		<div class="col-md-9">
			<h2>Đơn hàng</h2>
  			<h3>Thông tin</h3>
  			<p>Điền thông tin khách hàng để tìm kiếm:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
		<table class="table table-striped" >
	    <thead>
	      <tr>
	        <th>ID</th>
	        <th>Khách Hàng</th>
	        <th>Ngày đặt hàng</th>
	        <th>Tổng tiền</th>
	        <th>Hình thức thanh toán</th>
	      </tr>
	    </thead>
	    <tbody id="myTable">
	      <tr>
	        <td>John</td>
	        <td>Doe</td>
	        <td>john@example.com</td>
	        <td><span class="glyphicon glyphicon-edit"></span></td>
	        <td><span class="glyphicon glyphicon-trash"></span></td>
	      </tr>
	      <tr>
	        <td>Mary</td>
	        <td>Moe</td>
	        <td>mary@example.com</td>
	        <td><span class="glyphicon glyphicon-edit"></span></td>
	        <td><span class="glyphicon glyphicon-trash"></span></td>
	      </tr>
	      <tr>
	        <td>July</td>
	        <td>Dooley</td>
	        <td>july@example.com</td>
	        <td><span class="glyphicon glyphicon-edit"></span></td>
	        <td><span class="glyphicon glyphicon-trash"></span></td>
	      </tr>
	      <tr>
	        <td>John</td>
	        <td>Doe</td>
	        <td>john@example.com</td>
	        <td><span class="glyphicon glyphicon-edit"></span></td>
	        <td><span class="glyphicon glyphicon-trash"></span></td>
	      </tr>
	      <tr>
	        <td>Mary</td>
	        <td>Moe</td>
	        <td>mary@example.com</td>
	        <td><span class="glyphicon glyphicon-edit"></span></td>
	        <td><span class="glyphicon glyphicon-trash"></span></td>
	      </tr>
	      <tr>
	        <td>July</td>
	        <td>Dooley</td>
	        <td>july@example.com</td>
	        <td><span class="glyphicon glyphicon-edit"></span></td>
	        <td><span class="glyphicon glyphicon-trash"></span></td>
	      </tr>
	    </tbody>
	  </table>
	  
	  </div>
  </div>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</body>
</html>